## Preprocessing

In [112]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [113]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ["EIN"])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [114]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [115]:
# Look at USE_CASE value counts for binning
application_df["USE_CASE"].value_counts()

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

In [116]:
# Choose a cutoff value and create a list of USE_CASE to be replaced
# use the variable name `use_case_to_replace`
use_case_to_replace = ["CommunityServ", "Heathcare", "Other"]

# Replace in dataframe
for use_case in use_case_to_replace:
    application_df['USE_CASE'] = application_df['USE_CASE'].replace(use_case,"Other")

# Check to make sure binning was successful
application_df['USE_CASE'].value_counts()

Preservation    28095
ProductDev       5671
Other             533
Name: USE_CASE, dtype: int64

In [117]:
# Look at ASK_AMT value counts for binning
application_df["ASK_AMT"].value_counts()

5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [118]:
# You may find it helpful to look at ASK_AMT value counts >1
selected = application_df["ASK_AMT"].value_counts()
values = selected[selected>1]
values

5000      25398
10478         3
15583         3
63981         3
6725          3
          ...
100000        2
8181          2
24746         2
45793         2
240780        2
Name: ASK_AMT, Length: 152, dtype: int64

In [120]:
# Look at NAME value counts for binning
all_names = application_df["NAME"].value_counts()
all_names

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [121]:
# Choose a cutoff value and create a list of NAME to be replaced
# use the variable name `name_to_replace`

names_to_replace = list(all_names[all_names<20].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                             22409
PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
                                                  ...
AMERICAN IRIS SOCIETY                                21
ARIZONA FEDERATION OF GARDEN CLUBS                   21
GENERAL FEDERATION OF WOMENS CLUBS ARIZONA INC       20
DISABLED AMERICAN VETERANS AUXILIARY INC             20
TEXAS MASTER GARDENER ASSOCIATION INC                20
Name: NAME, Length: 122, dtype: int64

In [122]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [123]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ["T8","T7","T10","T9", "T13", "T12", "T2", "T25", "T14", "T29", "T15", "T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [124]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [125]:
# You may find it helpful to look at CLASSIFICATION value counts >10
selected = application_df["CLASSIFICATION"].value_counts()
values = selected[selected>20]
values

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Name: CLASSIFICATION, dtype: int64

In [126]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
all_classification = application_df["CLASSIFICATION"].unique()
values_to_keep = ["C1000","C2000","C1200","C3000","C2100"] 
classifications_to_replace = [value for value in all_classification if value not in values_to_keep]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [127]:
# Convert categorical data to numeric with `pd.get_dummies`
df_encoded = pd.get_dummies(application_df)
df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [128]:
# Split our preprocessed data into our features and target arrays
X = df_encoded.drop('IS_SUCCESSFUL', axis=1).values
y = df_encoded['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 2)

In [129]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [130]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  10
hidden_nodes_layer2 = 20
hidden_nodes_layer3 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_17"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_61 (Dense)            (None, 10)                1610

 dense_62 (Dense)            (None, 20)                220

 dense_63 (Dense)            (None, 30)                630

 dense_64 (Dense)            (None, 1)                 31

=================================================================
Total params: 2491 (9.73 KB)
Trainable params: 2491 (9.73 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [131]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [132]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5420 - accuracy: 0.7311
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4743 - accuracy: 0.7703
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4672 - accuracy: 0.7725
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4642 - accuracy: 0.7718
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4620 - accuracy: 0.7737
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4612 - accuracy: 0.7762
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4603 - accuracy: 0.7747
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4595 - accuracy: 0.7727
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4588 - accuracy: 0.7759
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4580 - accuracy: 0.7756
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4576 - accuracy: 0.7751
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4570 - accuracy: 0.7753
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4569 - accuracy: 0.7751
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4565 - accuracy: 0.7762
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4559 - accuracy: 0.7759
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4555 - accuracy: 0.7772
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4553 - accuracy: 0.7781
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4542 - accuracy: 0.7772
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4547 - accuracy: 0.7771
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4548 - accuracy: 0.7776
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4541 - accuracy: 0.7780
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4540 - accuracy: 0.7783
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4538 - accuracy: 0.7783
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4536 - accuracy: 0.7768
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4530 - accuracy: 0.7789
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4529 - accuracy: 0.7800
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4530 - accuracy: 0.7791
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4524 - accuracy: 0.7804
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4525 - accuracy: 0.7783
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4520 - accuracy: 0.7798
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4528 - accuracy: 0.7777
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4521 - accuracy: 0.7789
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4516 - accuracy: 0.7794
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4518 - accuracy: 0.7795
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4516 - accuracy: 0.7805
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4513 - accuracy: 0.7794
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4512 - accuracy: 0.7801
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4509 - accuracy: 0.7794
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4508 - accuracy: 0.7800
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4507 - accuracy: 0.7804
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4507 - accuracy: 0.7803
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4509 - accuracy: 0.7783
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4506 - accuracy: 0.7806
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4504 - accuracy: 0.7796
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4505 - accuracy: 0.7804
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4502 - accuracy: 0.7795
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4501 - accuracy: 0.7803
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4496 - accuracy: 0.7798
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4499 - accuracy: 0.7802
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4498 - accuracy: 0.7812
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4499 - accuracy: 0.7812
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4495 - accuracy: 0.7804
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4492 - accuracy: 0.7808
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4495 - accuracy: 0.7804
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4493 - accuracy: 0.7813
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4496 - accuracy: 0.7800
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4497 - accuracy: 0.7793
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4492 - accuracy: 0.7809
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4490 - accuracy: 0.7802
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4490 - accuracy: 0.7811
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4488 - accuracy: 0.7808
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4491 - accuracy: 0.7807
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4486 - accuracy: 0.7804
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4487 - accuracy: 0.7805
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4482 - accuracy: 0.7797
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4486 - accuracy: 0.7814
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4486 - accuracy: 0.7801
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4485 - accuracy: 0.7798
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4485 - accuracy: 0.7807
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4484 - accuracy: 0.7799
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4479 - accuracy: 0.7804
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4481 - accuracy: 0.7812
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4482 - accuracy: 0.7814
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4478 - accuracy: 0.7804
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4480 - accuracy: 0.7801
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4476 - accuracy: 0.7809
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4473 - accuracy: 0.7809
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4472 - accuracy: 0.7817
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4479 - accuracy: 0.7805
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4478 - accuracy: 0.7816
Epoch 81/100

804/804 [==============================] - 1s 1ms/step - loss: 0.4473 - accuracy: 0.7808
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4471 - accuracy: 0.7827
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4474 - accuracy: 0.7810
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4472 - accuracy: 0.7806
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4471 - accuracy: 0.7807
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4468 - accuracy: 0.7814
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4471 - accuracy: 0.7805
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4470 - accuracy: 0.7815
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4467 - accuracy: 0.7821
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4472 - accuracy: 0.7808
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4470 - accuracy: 0.7817
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4466 - accuracy: 0.7809
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4468 - accuracy: 0.7819
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4467 - accuracy: 0.7812
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4467 - accuracy: 0.7820
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4467 - accuracy: 0.7828
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4465 - accuracy: 0.7821
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4463 - accuracy: 0.7819
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4466 - accuracy: 0.7816
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4464 - accuracy: 0.7814

In [133]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4588 - accuracy: 0.7794 - 411ms/epoch - 2ms/step
Loss: 0.45882487297058105, Accuracy: 0.7793586254119873

In [134]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

C:\Users\Family\anaconda3v2\envs\pythondata\Lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(